.header {
    height: 10%;
    flex-grow: 0;
    border-left-color: rgba(47, 47, 47, 255);
    border-right-color: rgba(47, 47, 47, 255);
    border-top-color: rgba(47, 47, 47, 255);
    border-bottom-color: rgba(47, 47, 47, 255);
    border-bottom-width: 5px;
    background-color: rgba(80, 80, 80, 255);
}
